---
- name: Set timezone to Europe/Berlin
  timezone:
    name: Europe/Berlin

- name: Add ansible user ("{{ deployment_user }}") for deployment
  user:
    name: "{{ deployment_user }}"
    comment: ansible deployment
    shell: /bin/bash
    createhome: yes
    state: present

- name: Allow 'ansible' user ("{{ deployment_user }}") to have passwordless sudo
  lineinfile:
    dest: /etc/sudoers
    state: present
    insertafter: '^# User privilege specification'
    line: "{{ deployment_user }} ALL=(ALL) NOPASSWD: ALL"
    validate: 'visudo -cf %s'

- name: Set authorized SSH Keys from url for user ("{{ deployment_user }}")
  authorized_key:
    user: "{{ deployment_user }}"
    key: "{{ deployment_user_ssh_key_url }}"
    exclusive: yes
    state: present
  when: 
    - deployment_user != "" 
    - deployment_user_ssh_key_url != ""    

- name: Add sudo user ("{{ sudo_user }}")
  user:
    name: "{{ sudo_user }}"
    comment: sudo user
    shell: /bin/bash
    createhome: yes
    group: sudo
    password: "{{ sudo_user_password | password_hash('sha512') }}"
    state: present
  when:
     - sudo_user != ""

- name: Set authorized SSH Keys from url for user ("{{ sudo_user }}")
  authorized_key:
    user: "{{ sudo_user }}"
    key: "{{ sudo_user_ssh_key_url }}"
    exclusive: yes
    state: present
  when: 
    - sudo_user != "" 
    - sudo_user_ssh_key_url != ""


